$primary: white;
$secondary: black;
$baseFont: 'Montserrat', sans-serif;
$titleFont: 'Great Vibes', cursive;

  html {
            font-size:62.5%;
        }
       
        .wrapper {
            margin:0 auto;
            max-width:1080px;
            
        }

        .header {
            display:flex;
            justify-content: space-between;
            margin:2% 0;

            h1 {   
                text-align:center;
                font-family: $titleFont;
                font-size: 5rem;
                color:black;
                margin:0;
            }

            p {
                font-family: $baseFont;
                font-size: 1.6rem;
                }
        }

        .footer {
            padding:0;
            margin:0;
            font-family:$baseFont;
            font-weight:bold;

        }
     