.keyborder {
    // border:1px solid red;
    background: $secondary;
    border-radius:15px;
    padding:6% 0;
}

.keyboard {
            width:80%;
            height:300px;
            border:2px solid $secondary;
            margin:0 auto;
            display:flex;
            position:relative;
            box-shadow:5px 5px 5px lighten($primary, 10);
            border-radius:10px;
            border:3px solid ;
        
              .black-key {
            width:7%;
            height: 60%;
            background:$secondary;
            border-radius:0 0 5px 5px ;
            z-index:1;
            position:absolute;
            left:10.5%;
        }

         .d-sharp {
                left:25%;
            }

            .f-sharp {
                left:53.5%;
            }

            .g-sharp {
                left:68%;
            }

            .a-sharp {
                left:82%;
            }

            .key {
            border:1px solid $secondary;
            width:20%;
            position:relative;
            background:$primary;

                p {
                    text-align:center;
                    position:absolute;
                    bottom:0;
                    left: 48%;
                    font-weight:bold;
                    font-family:$baseFont;
                    font-size:2rem;
                }
             }   
          }

        .keyhover {
            box-shadow:5px 5px lightgrey;
        }
           
// MEDIA QUERIES
