html {
  font-size: 62.5%; }

body {
  background: rgba(0, 0, 0, 0.8); }

.wrapper {
  margin: 5% auto;
  max-width: 1080px;
  /* border:1px solid red; */ }

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  margin: 5% 0; }

.keyboard {
  width: 80%;
  height: 300px;
  border: 2px solid black;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 5px 5px 5px lightgrey;
  box-shadow: 5px 5px 5px lightgrey; }
  .keyboard .blackKey {
    width: 7%;
    height: 60%;
    background: black;
    /* border:1px solid red; */
    z-index: 1;
    position: absolute;
    left: 10.5%; }
  .keyboard .dsharp {
    left: 25%; }
  .keyboard .fsharp {
    left: 53.5%; }
  .keyboard .gsharp {
    left: 68%; }
  .keyboard .asharp {
    left: 82%; }
  .keyboard .key {
    border: 1px solid black;
    width: 20%;
    /* height:100%; */
    position: relative;
    background: rgba(255, 255, 255, 0.8); }
    .keyboard .key p {
      text-align: center;
      /* border:1px solid red; */
      position: absolute;
      bottom: 0;
      left: 48%;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem; }

.blackKey:hover {
  -webkit-box-shadow: 5px 5px 5px grey;
  box-shadow: 5px 5px 5px grey; }

.key:hover {
  -webkit-box-shadow: 5px 5px lightgrey;
  box-shadow: 5px 5px lightgrey; }
